<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Veterinaria</title>
</head>
<body>
    <nav th:fragment="navbar">
        <a th:href="@{/}">Veterinaria</a>
        <span th:text="'Usuario: ' + ${#authentication.name}"></span>
        <a th:href="@{/logout}">Cerrar sesion</a>
    </nav>

    <hr/>

    <div th:fragment="menu">
        <a th:href="@{/}">Inicio</a> |
        <a th:href="@{/productos}">Productos</a> |
        <a th:href="@{/categorias}">Categorias</a> |
        <a th:href="@{/clientes}">Clientes</a> |
        <a th:href="@{/empleados}">Empleados</a> |
        <a th:href="@{/proveedores}">Proveedores</a> |
        <a th:href="@{/ventas}">Ventas</a>
    </div>
</body>
</html>
